%table.slots_table
  %thead
  %tbody
    %tr
      %td.slot_column
        = render "partials/slot", :title => 'Primary Weapon'
      %td.slot_column
        = render "partials/slot", :title => 'Secondary Weapon'
    %tr
      %td.slot_column
        = render "partials/slot", :title => 'Ability 1'
      %td.slot_column
        = render "partials/slot", :title => 'Ability 2'
    %tr
      %td.slot_column
        = render "partials/slot", :title => 'Ability 3'
      %td.slot_column
        = render "partials/slot", :title => 'HKM'
    %tr
      %td.slot_column
        = render "partials/slot", :title => 'Passive'
      %td.slot_column
        = render "partials/slot", :title => 'Plating'
    %tr
      %td.slot_column
        = render "partials/slot", :title => 'Servos'
      %td.slot_column
        = render "partials/slot", :title => 'Jumpjets'