%title CPU Analyst for Firefall

%strong CPU Analyst for Firefall
%br
%br

%table#page_layout_table
  %thead
  %tbody
    %tr
      %td.report_cell
        %div
          %span#total_mass_display
            Total Mass:
            %span#total_mass 0
            &#x2F
            %span 2000
          %span#movement_mod
            %span#movement_mod_display 120%
            %span Speed Multiplier
        %div
          %span#total_power_display
            Total Power
            %span#total_power 0
            &#x2F
            %span 1000
          %span#excess_power
            %span#excess_power_display 2000
            %span Excess Power
        %div.optomize_buttons
          %button.add_cpu_for_mass{type: "button"} Add CPU for Mass
          %button.add_cpu_for_power{type: "button"} Add CPU for Power
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Primary Weapon'
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Secondary Weapon'
    %tr
      %td.report_cell
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Ability 1'
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Ability 2'
    %tr
      %td.report_cell
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Ability 3'
      %td.gear_slot
        = render "partials/gear_slot", :title => 'HKM'
    %tr
      %td.report_cell
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Passive'
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Plating'
    %tr
      %td.report_cell
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Servos'
      %td.gear_slot
        = render "partials/gear_slot", :title => 'Jumpjets'
%br
