%title CPU Analyst for Firefall

%strong CPU Analyst for Firefall
%br
%br

%table#page_layout_table
  %thead
  %tbody
    %tr
      %td.report_cell
        %div#total_mass_display
          Total Mass:
          %span#total_mass 0
          &#x2F 2000
        %br
        %div#movement_mod
          %span#movement_mod_display
          %span Speed Multiplier
        %div#total_power_display
          Total Power:
          %span#total_power 0
          &#x2F 1000
        %br
        %div#excess_power
          %span#excess_power_display
          %span Excess Power
        %div#total_CPUs_display
          CPUs Used:
          %span#total_CPUs 0
          &#x2F 18

      %td.gear_slot#primary_weapon
        = render "partials/gear_slot", :title => 'Primary Weapon'
      %td.gear_slot#secondary_weapon
        = render "partials/gear_slot", :title => 'Secondary Weapon'
    %tr
      %td.report_cell
      %td.gear_slot#ability_1
        = render "partials/gear_slot", :title => 'Ability 1'
      %td.gear_slot#ability_2
        = render "partials/gear_slot", :title => 'Ability 2'
    %tr
      %td.report_cell
      %td.gear_slot#ability_3
        = render "partials/gear_slot", :title => 'Ability 3'
      %td.gear_slot#HKM
        = render "partials/gear_slot", :title => 'HKM'
    %tr
      %td.report_cell
        %button#post_cookie{type: "button"} Post cookie
        %button#read_cookie{type: "button"} Read cookie
      %td.gear_slot#passive
        = render "partials/gear_slot", :title => 'Passive'
      %td.gear_slot#plating
        = render "partials/gear_slot", :title => 'Plating'
    %tr
      %td.report_cell
        %div#optomize_buttons
          %button#add_cpu_for_mass{type: "button"} Add CPU for Mass
          %button#add_cpu_for_power{type: "button"} Add CPU for Power
        %button#reset_all_button{type: "button"} Reset All
        %button#reset_CPUs_button{type: "button"} Reset CPUs
        %br
        %button#load_default_values{type: "button"} Load Default Values
      %td.gear_slot#servos
        = render "partials/gear_slot", :title => 'Servos'
      %td.gear_slot#jumpjets
        = render "partials/gear_slot", :title => 'Jumpjets'
%br

%div#cpu_image_source{ style: 'display: none;' }
  %span.cpu_image
    =image_tag ('computer_chip.gif')